MONGODB_URI=mongodb+srv://<username>:Drawing890@<cluster>/<database>?retryWrites=true&w=majority
MONGODB_DNS_SERVER=8.8.8.8
JWT_SECRET=qx+IIbmdMtWNFpcsFhIIrv4nE/ESKITBbIpcEcIvqjPAyR2TOZ5KDInhkHMjniUi
PORT=5000
ALLOWED_ORIGINS=https://your-frontend-domain.vercel.app,https://another-domain.com
EMAIL_SERVICE=gmail
EMAIL_USER=your-email@gmail.com
EMAIL_PASSWORD=your-app-password
EMAIL_FROM=noreply@healthcare-referral.com
SENDGRID_API_KEY=your-sendgrid-api-key
