MONGODB_URI=mongodb+srv://Gabriel:<Drawing890>@cluster0.e6hp9sp.mongodb.net/?appName=Cluster0
JWT_SECRET=your_jwt_secret_key_here
PORT=5000
ALLOWED_ORIGINS=https://your-frontend-domain.vercel.app,https://another-domain.com
EMAIL_SERVICE=gmail
EMAIL_USER=your-email@gmail.com
EMAIL_PASSWORD=your-app-password
EMAIL_FROM=noreply@healthcare-referral.com
SENDGRID_API_KEY=your-sendgrid-api-key
